.lbl {
    display: block;
    width: 80%;
    margin: 15px auto;
}

.catFactHome-container {
    color:white;
    width: 300px;
    height: 600px;
    background-color: rgb(2, 58, 2);
    padding: 10px;


}